<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-4">
            <div class="box">
                Total income
            </div>
        </div>
         <div class="col-xs-4">
            <div class="box">
                Total outcome
            </div>
        </div>
        <div class="col-xs-4">
            <div class="box">
                Total taxes
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <div class="box">
                Health
            </div>
        </div>
        <div class="col-xs-4">
            <div class="box">
                Pension
            </div>
        </div>
        <div class="col-xs-4">
            <div class="box">
                Income tax
            </div>
        </div>
    </div>

    Some more quick links to follow
</div>