<!DOCTYPE html>
<html lang="en" ng-app="Conta">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="static/css/vendor/bootstrap.css">
    <link rel="stylesheet" href="static/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/vendor/datepicker.css">
    <link rel="stylesheet" href="static/css/vendor/sweet-alert.css">
    <link rel="stylesheet" href="static/css/theme.css">
</head>
<body>
<ui-view></ui-view>

<script type="text/javascript" src="static/js/vendor/jquery-3.1.1.min.js"></script>
<script type="text-javascript" src="static/js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="static/js/vendor/angular.min.js"></script>
<script type="text/javascript" src="static/js/vendor/angular.cookie.js"></script>
<script type="text/javascript" src="static/js/vendor/angular-ui-router.min.js"></script>
<script type="text/javascript" src="static/js/vendor/ui-router-menu.js"></script>
<script type="text/javascript" src="static/js/vendor/ui.mask.js"></script>
<script type="text/javascript" src="static/js/vendor/sweet-alert.min.js"></script>
<script type="text/javascript" src="static/js/vendor/SweetAlert.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" src="static/js/app/bootstrap/bootstrap.js"></script>
<script type="text/javascript" src="static/js/app/bootstrap/config.js"></script>
<script type="text/javascript" src="static/js/app/bootstrap/routes.js"></script>
<script type="text/javascript" src="static/js/app/bootstrap/directives.js"></script>

<!-- Dashboard -->
<script type="text/javascript" src="static/js/app/dashboard/config.js"></script>
<script type="text/javascript" src="static/js/app/dashboard/controller.js"></script>
<!-- entity -->
<script type="text/javascript" src="static/js/app/entity/controller.js"></script>
<script type="text/javascript" src="static/js/app/entity/service.js"></script>
<!-- Income -->
<script type="text/javascript" src="static/js/app/income/config.js"></script>
<script type="text/javascript" src="static/js/app/income/controller.js"></script>
<!-- Payments -->
<script type="text/javascript" src="static/js/app/payments/config.js"></script>
<script type="text/javascript" src="static/js/app/payments/controller.js"></script>
<!-- Organisations -->
<script type="text/javascript" src="static/js/app/organisations/config.js"></script>
<script type="text/javascript" src="static/js/app/organisations/controller.js"></script>
<script type="text/javascript" src="static/js/app/organisations/service.js"></script>
<!-- Amortizations -->
<script type="text/javascript" src="static/js/app/amortizations/config.js"></script>
<script type="text/javascript" src="static/js/app/amortizations/controller.js"></script>
<script type="text/javascript" src="static/js/app/amortizations/service.js"></script>
<!-- Reports -->
<script type="text/javascript" src="static/js/app/reports/config.js"></script>
<script type="text/javascript" src="static/js/app/reports/controller.js"></script>
<!-- Inventory -->
<script type="text/javascript" src="static/js/app/inventory/config.js"></script>
<script type="text/javascript" src="static/js/app/inventory/controller.js"></script>
<script type="text/javascript" src="static/js/app/inventory/service.js"></script>
<!-- Expenses -->
<script type="text/javascript" src="static/js/app/expenses/config.js"></script>
<script type="text/javascript" src="static/js/app/expenses/controller.js"></script>
<script type="text/javascript" src="static/js/app/expenses/service.js"></script>
<link href="https://fonts.googleapis.com/css?family=Exo+2:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext" rel="stylesheet">
</body>
</html>