<form ng-submit="submit(organisationForm.$valid)" novalidate name="organisationForm" class="col-12">
    <div class="row">
        <div class="page-header">
            <div class="toolbar">
                <div class="text-right">
                    <button class="btn btn-success" ng-disabled="organisationForm.$invalid">
                        <i class="fa fa-check"></i> Save
                    </button>
                </div>
            </div>
            <h2>{{title}} <span>{{subtitle}}</span></h2>
        </div>
        <div class="col-12">
            <div class="box">
                <div class="form-group row">
                    <div class="col-lg-2">
                        <label class="form-control-label">Name</label>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" required ng-required="{string}" data-ng-model="item.name" name="name" value="item.name">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>